<!DOCTYPE html>
<html lang="en" ng-app="weatherDashboard" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="GraphsCtrl as graph">
  <nav class={{graph.name}} ng-click="$event.preventDefault()">
    <a href class="heatAlert" ng-click="graph.selectGraph('heatAlert')">Heat Alert</a>
    <a href class="extremeHeatAlert" ng-click="graph.selectGraph('extremeHeatAlert')">Extreme Heat Alert</a>
  </nav>

  <div ng-show="graph.isSelected('heatAlert')">
    <h1>Heat Alert</h1>
  </div>
  <div ng-show="graph.isSelected('extremeHeatAlert')">
    <h1>Extreme Heat Alert</h1>
  </div>

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
